<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <xacro:arg name="use_gazebo" default="true" />
  <xacro:arg name="sensor_prefix" default="r200" />
  <xacro:arg name="ros2_control_params" default="" />

  <!-- franka -->
  <xacro:include filename="$(find panda_description)/urdf/panda_arm_hand.urdf.xacro" />

  <!-- RS -->
  <xacro:include filename="$(find realsense_gazebo_plugin)/urdf/realsense-D435.macro.xacro"/>
  <!-- Here we include the end-effector by setting the parameters -->
  <xacro:realsense-d435 link_prefix="" sensor_prefix="$(arg sensor_prefix)" parent="panda_link8">
    <origin xyz="0.03 -0.03 0.05" rpy="0 ${-pi/2} ${3*pi/4}" />
  </xacro:realsense-d435>  
</robot>
