<?xml version="1.0"?>
<!-- Example usage of the realsense-d435 macro. -->
<robot name="robot_with_d435" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="use_gazebo" default="true" />
    <xacro:arg name="sensor_prefix" default="d435" />
    <link name="world"/>

    <!-- Import macro for realsense-D435 camera-->
    <xacro:include filename="$(find realsense_gazebo_plugin)/urdf/realsense-D435.macro.xacro"/>
    <!-- Create camera instance -->
    <xacro:realsense-d435 link_prefix="" sensor_prefix="$(arg sensor_prefix)" parent="world">
        <origin xyz="0 0 1.0" rpy="0 0 0" />   
    </xacro:realsense-d435>
</robot>
